<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDK_SY8rPGU1SHZjAY_HKYMe3T-6O6q-Do</string>
	<key>GCM_SENDER_ID</key>
	<string>725285956172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alok.damadam.com</string>
	<key>PROJECT_ID</key>
	<string>damadam-c6770</string>
	<key>STORAGE_BUCKET</key>
	<string>damadam-c6770.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725285956172:ios:32b94dbc70be01206922e9</string>
</dict>
</plist>